## Price action analysis of Fidelity sector ETFs' during December 2018

As of December 2018, the valuations have become quite frothy. I wanted to understand and compare the price action of various Fidelity sector ETFs during the last big correction in December 2018. With this very simplistic analysis, I would like to figure out what to do from a capital preservation standpoint during the next big correction.

In [78]:
#getting the OHLC data from yahoo finance

from pandas_datareader import data as pdr
import yfinance as yf
import datetime

yf.pdr_override() 

# Set the ticker
tickers = ["FBND", "FSTA", "FDIS", "FUTY", "FCOM", "FENY", "FNCL", "FHLC", "FIDU", "FTEC", "FMAT", "FREL"]

start = datetime.datetime(2018,12,1)
end = datetime.datetime(2018,12,31)

etf_data = pdr.get_data_yahoo(ticker, start=start, end=end)

[*********************100%***********************]  12 of 12 completed

In [79]:
#keeping only the close data for the columns
etf_close_data = etf_data['Close']
etf_close_data.head()

,FBND,FCOM,FDIS,FENY,FHLC,FIDU,FMAT,FNCL,FREL,FSTA,FTEC,FUTY
Date,,,,,,,,,,,,
2018-12-03,48.150002,31.100000,43.130001,18.600000,46.340000,37.270000,31.459999,39.380001,24.629999,33.779999,55.180000,36.900002
2018-12-04,48.209999,30.059999,41.520000,18.059999,45.150002,35.669998,30.420000,37.750000,24.240000,33.180000,53.040001,36.930000
2018-12-06,48.259998,30.280001,41.660000,17.690001,44.950001,35.400002,30.000000,37.200001,24.860001,33.189999,53.180000,36.980000
2018-12-07,48.270000,29.740000,40.380001,17.600000,43.860001,34.540001,29.309999,36.619999,24.530001,32.840000,51.360001,37.139999
2018-12-10,48.320000,29.930000,40.369999,17.270000,43.980000,34.580002,29.299999,36.099998,24.389999,32.770000,52.029999,37.209999

Not surprisingly, industrials had the biggest one day drop. However, utilities and financials had the other two big drops during that period. I was a bit surprised by those numbers as I would have expected discretionary and technology to be worse than the utilities (maybe it has something to do with the period I have chosen).

In [123]:
#finding which ETF had the maximum one day drop
max_one_day_drop=etf_close_data.pct_change().min().to_frame(name="max_one_day_drop").sort_values(by="max_one_day_drop",ascending=True).round(3)
max_one_day_drop

      max_one_day_drop
FIDU            -0.043
FUTY            -0.042
FNCL            -0.041
FENY            -0.041
FTEC            -0.039
FREL            -0.038
FDIS            -0.037
FCOM            -0.036
FMAT            -0.033
FHLC            -0.031
FSTA            -0.027
FBND            -0.003

In [134]:
#finding which ETF had the maximum one day gain
max_one_day_gain=etf_close_data.pct_change().max().to_frame(name="max_one_day_gain").sort_values(by="max_one_day_gain",ascending=False).round(3)
max_one_day_gain

      max_one_day_gain
FENY             0.064
FDIS             0.062
FTEC             0.060
FCOM             0.050
FIDU             0.047
FHLC             0.045
FNCL             0.043
FMAT             0.043
FREL             0.033
FSTA             0.027
FUTY             0.014
FBND             0.004

In [137]:
#bringing together one day loss and gain
change_data=pd.merge(max_one_day_drop, max_one_day_gain, left_index=True, right_index=True)

#adding a range column (I am thinking that bigger the range is, the more uncertain/volatile is the sector)
change_data.loc[:, "range"]=abs(change_data.loc[:, "max_one_day_drop"]).add(change_data.loc[:, "max_one_day_gain"])
change_data.sort_values(by="range", ascending=False)

      max_one_day_drop  max_one_day_gain  range
FENY            -0.041             0.064  0.105
FTEC            -0.039             0.060  0.099
FDIS            -0.037             0.062  0.099
FIDU            -0.043             0.047  0.090
FCOM            -0.036             0.050  0.086
FNCL            -0.041             0.043  0.084
FMAT            -0.033             0.043  0.076
FHLC            -0.031             0.045  0.076
FREL            -0.038             0.033  0.071
FUTY            -0.042             0.014  0.056
FSTA            -0.027             0.027  0.054
FBND            -0.003             0.004  0.007

As expected, energy, discretionary and industrials had the biggest drop during that period (12/01-12/31). Also, expectedly, bonds, utilities and staples had the smallest percentage drops within the cohort. I was expecting materials to drop more and healthcare ETF to be more stable than they appear to be. I wasn't expecting real estate to be as stable as it was. Maybe, it had something to do with the fact that there were no doubts about the growth in the broader US economy during that period.

In [119]:
#finding which ETF had the maximum drop in December 2018
pd.DataFrame({"min_close":etf_close_data.min().round(2), "max_close":etf_close_data.max().round(2), "perc_drop":((etf_close_data.max()-etf_close_data.min())/etf_close_data.max()).round(3)}).sort_values(by="perc_drop",ascending=False)

      min_close  max_close  perc_drop
FENY      14.63      18.60      0.213
FDIS      35.51      43.13      0.177
FIDU      30.66      37.27      0.177
FNCL      32.43      39.38      0.176
FTEC      45.74      55.18      0.171
FHLC      38.80      46.34      0.163
FMAT      26.67      31.46      0.152
FCOM      26.75      31.10      0.140
FREL      21.52      24.86      0.134
FSTA      29.30      33.78      0.133
FUTY      33.93      37.49      0.095
FBND      48.15      48.53      0.008

In [148]:
etf_volume_data=etf_data["Volume"]
etf_volume_data.std().round(0).sort_values(axis=0,ascending=True,inplace=False,kind="quicksort",na_position="last").to_frame(name="std_dev_vol").sort_values(by="std_dev_vol", ascending=False)

      std_dev_vol
FTEC     917232.0
FREL     727492.0
FSTA     580917.0
FENY     496872.0
FHLC     463240.0
FDIS     398984.0
FNCL     298286.0
FUTY     210265.0
FBND     144629.0
FCOM     133623.0
FIDU      95667.0
FMAT      26343.0

Coefficient of variation shows the extent of variability in relation to the mean. The higher the coefficient of variation, the greater the instability in the ETF (for either buying or selling). It's interesting to see that staples have the highest coefficient of variation - right up there with technology and discretionary. Surprisingly for me, the volumes of the other sectors were not as jagged as I was expecting, e.g., materials, utilities and financials were traded pretty steadily throughout the period.

In [135]:
volume_analysis=pd.DataFrame({"avg_vol": etf_volume_data.mean().round(0), "std_dev_vol":etf_volume_data.std().round(0), "coeff_var":(etf_volume_data.std()/etf_volume_data.mean()).round(3)}).sort_values(by="coeff_var", ascending=False)
volume_analysis

       avg_vol  std_dev_vol  coeff_var
FSTA  418905.0     580917.0      1.387
FREL  565195.0     727492.0      1.287
FTEC  814511.0     917232.0      1.126
FDIS  385674.0     398984.0      1.035
FBND  148968.0     144629.0      0.971
FCOM  175232.0     133623.0      0.763
FHLC  663000.0     463240.0      0.699
FENY  789847.0     496872.0      0.629
FIDU  152232.0      95667.0      0.628
FNCL  576626.0     298286.0      0.517
FUTY  415495.0     210265.0      0.506
FMAT   71805.0      26343.0      0.367

Finally, looking at the coefficient of variation in conjunction of the range (maximum swing from loss to gain or vice-versa) of the ETFs - the two sectors (staples and real estate) with higher coefficient of variations have relatively low range, whereas, technology and discretionary had both high variability in volume and relatively high range. Interestingly, energy had the highest range (and, highest percentage drop during the period) had relatively steady volume, meaning, the constituent tickers were being traded steadily throughout the period. To me that says that some news headlines during that period must have caused greater drop in those tickers. It will be interesting to corraborate that observation with the news headlines during that period.

In [146]:
volatile_etfs=pd.merge(change_data, volume_analysis, left_index=True, right_index=True)
volatile_etfs.drop(["max_one_day_drop", "max_one_day_gain", "avg_vol", "std_dev_vol"], axis=1, inplace=True)
volatile_etfs.sort_values(by="coeff_var", ascending=False)

      range  coeff_var
FSTA  0.054      1.387
FREL  0.071      1.287
FTEC  0.099      1.126
FDIS  0.099      1.035
FBND  0.007      0.971
FCOM  0.086      0.763
FHLC  0.076      0.699
FENY  0.105      0.629
FIDU  0.090      0.628
FNCL  0.084      0.517
FUTY  0.056      0.506
FMAT  0.076      0.367